<p id="notice"><%= notice %></p>

<div class="main">
  <h1>物件一覧</h1>
  <div class="search-index">
    
  
<%= search_form_for @q do |f| %>
  <%= f.label :prefecture_code, "都道府県" %>
  <%= f.search_field :prefecture_code_cont %>
  <br>
  <%= f.label :address_city, "市区町村" %>
  <%= f.search_field :address_city_cont %>
  <br>
  <%= f.label :address_street, "番地" %>
  <%= f.search_field :address_street_cont %>
  <br>
  <%= f.label :price,"価格" %>
  <%= f.number_field :price_gteq %>万円〜
  <%= f.number_field :price_lt %>万円
  
  <br>
  <%= f.submit "検索" %>
<% end %>

  </div>
  <div class="property-index">
    <% @properties.each do |property| %>
      <div class="property-index-item">
        <h3><%= link_to property.title, property %></h3>
        <% if property.image? %>
          <%= image_tag property.image.url, class: 'image-index'%>
        <% else %>
          <%= image_tag "noimage.png" %>
        <% end %>
        <%= property.description %>
        <%= property.details %>
        <%= property.price %>

        <%= property.prefecture_code %>
        <%= property.address_city %>
        <%= property.address_street %>


        <%= property.hobby %>
        <%= property.layout %>
        <%= property.location %>


        <p><span>お気に入り数: </span><%= property.favorites.count %></p>


      </div>
    <% end %>
  </div>
</div>
