<p id="notice"><%= notice %></p>

<p>
  <% if @property.image? %>
    <%= image_tag @property.image.url%>
  <% else %>
    <%= image_tag "noimage.png" %>
  <% end %>
</p>

<% if user_signed_in? %>
  <% if @property.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
      <p><span>お気に入り解除: </span><%=link_to @property.favorites.count, property_favorites_path(@property.id), method: :delete %></p>
  <% else %>
      <p><span>お気に入り登録: </span><%=link_to @property.favorites.count, property_favorites_path(@property.id), method: :post %></p>
  <% end %>
<% else %>
  <p><span>お気に入り数: </span><%= property.favorites.count %></p>
<% end %>



<p>
  <strong>Prefecture:</strong>
  <%= @property.prefecture_code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address_city %>
</p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>物件説明</strong>
  <%= @property.description %>
</p>

<p>
  <strong>物件概要</strong>
  <%= @property.details %>
</p>

<p>
  <strong>希望価格</strong>
  <%= @property.price %>
</p>



<% if user_signed_in? && current_user.id == @property.user_id %>
    <%= link_to "編集", edit_property_path(@property) %>
    <%= link_to "削除", property_path, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>

<br>
<%= link_to '一覧へ', properties_path %>
