<div id="top">
  <!--<h1>趣味 × 不動産</h1>-->
  <%= image_tag '趣味×不動産.png', class: 'copy' %>
  <!--<h3>地方移住　別宅　趣味の拠点</h3>-->
  <!--<h3>ライフスタイルに合わせた</h3>-->
  <!--<h3>新しい不動産の楽しみ方</h3>-->
  <%= image_tag 'catchcopy.png', class: 'copysmall' %>

  <div class="top-search">
    <p class="top-search-letter">あなたの用途にマッチした家を見つけよう</p>
    
  </div>
</div>




<p class="message">インターネットインフラが充実し、働き方が多様化する中で<br/>
  決まった場所に固執して暮らす必要がなくなりつつあります。</p>
<br/>
<p class="message">多拠点移住も含めた暮らし方の選択肢を増やし、<br/>
  新たなライフスタイルの豊かさを手に入れませんか？</p>
<br/>
<p class="message">買い手は人生を充実させるライフスタイルを過ごしたい<br/>
  売り手は大切な不動産を活用してくれる人に手渡したい<br/>
  そんな両者の想いをつなぐ個人売買プラットフォームです。</p>




<h5>こんな方におすすめ</h5>

<div class="recommend">
  <div class="recommend-list">
    <%= image_tag '山アイコン.png' %>
    <p>自然の中で暮らしたい</p>
  </div>
  <div class="recommend-list">
    <%= image_tag 'サーフアイコン.png' %>
    <p>趣味を満喫したい</p>
  </div>
  <div class="recommend-list">
    <%= image_tag '事業アイコン.png' %>
    <p>地方で事業がしたい</p>
  </div>
  <div class="recommend-list">
    <%= image_tag '家アイコン.png' %>
    <p>使い方に悩む家がある</p>
  </div>
  <div class="recommend-list">
    <%= image_tag 'お金アイコン.png' %>
    <p>購入資金を抑えたい</p>
  </div>
</div>




<h5>新着物件</h5>

<div class="new-properties">
  <div class="new-property">
    
  </div>
</div>




<h5>FREESTYLEBASEとは</h5>

<ul class="about">
  <li>
    あなたの趣味やライフスタイルに応じた物件の売買をサポート。</br>
    仲介業者を挟まないから高額で売却し、安価で購入が可能な両者納得の不動産個人売買のサービスです。
  </li>
  <li>FSBでは不動産売買において”安心安全な個人売買”にすることを目指しています。</br>
    従来の仲介会社を通した売買と比較すると、双方が納得の上でより好条件で購入・売却ができるなど、多くのメリットがあります。
  </li>
</ul>

<div class="more">
  <%= link_to 'さらに詳しく', about_path %>
</div>




<h5>FREESTYLEBASEの特徴</h5>

<div class="feature">
  <div class="feature-list">
    <%= image_tag '特徴１.png' %>
    <p>御社のメッセージ機能を介して、売り手と買い手が直接やり取りできます。</p>
  </div>
  <div class="feature-list">
    <%= image_tag '特徴２.png' %>
    <p>独自の検索アルゴリズムにより、趣味や理想のライフスタイルに最適な物件が見つかります。</p>
  </div>
</div>




<h5>安心安全のための充実したサポート</h5>

<div class="support">
  <p>今までなぜ不動産売買が個人間で取引されなかったかというと</br>
    書類の準備や売買に関わる専門家の準備が個人では難しかったためです。</br>
    </br>
    FSBでの売買は、あなたが個人間で安心安全に取引を行っていただけるように</br>
    複雑な契約書や重要事項説明書の準備や、宅地建物取引士や司法書士の手配などを徹底サポートいたします。</br>
    だから、知識がなくても安心して売買を進めていただけます。
  </p>
</div>
<table>
  <tr>
    <td>不動産の価格設定</td>
    <td>各種書類の準備、不動産の登記</td>
  </tr>
  <tr>
    <td>商談時の資格保有者の準備と商談記録の保管</td>
    <td>リノベーションの進め方と紹介</td>
  </tr>
</table>

<div class="more">
  <%= link_to 'わからないことはお気軽にご相談ください', about_path %>
</div>



<h5>お知らせ</h5>

<div class="info">
  <div class="blog-seminar">
    <p>あいうえお</p>
  </div>
  <div class="blog-seminar">
    <p>あいうえお</p>
  </div>
</div>
